* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #EEE;
  background-color: #F8F8F8;
}

.btn-1 {
  background-color: #FA5158;
  color: #FFF;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

.btn-2 {
  background-color: #FFF;
  color: #FA5158;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 40px;
  margin-top: 10px;
}

#header .navigation .logo:hover {
  cursor: pointer;
}

#header .navigation .nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 50px;
}

#header .navigation .nav .nav-items .nav-item {
  margin-right: 30px;
}

#header .navigation .nav .nav-items .nav-item a {
  color: #EEE;
}

#header .navigation .nav .nav-items .nav-item a:hover {
  cursor: pointer;
}

.hero {
  background-image: url("../../assets/images/header/header-bg.png");
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.hero .hero-content {
  width: 50%;
  height: 100%;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
}

.hero .hero-content .hero-title {
  font-size: 1.5rem;
}

.hero .hero-content .hero-description {
  font-size: 14px;
  line-height: 2;
}

.hero .hero-content .search-div {
  height: 120px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content .search-div input[type="text"] {
  padding: 25px;
  font-size: 17px;
  float: left;
  width: 85%;
  border-radius: 50px 0 0 50px;
}

.hero .hero-content .search-div input[type="text"]::-webkit-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]:-ms-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]::-ms-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]::placeholder {
  color: #a09999;
}

.hero .hero-content .search-div button {
  float: left;
  padding: 25px 0;
  width: 15%;
  color: #a09999;
  font-size: 17px;
  cursor: pointer;
  background: #FFF;
  border-radius: 0 50px 50px 0;
}

.hero .hero-content .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 280px;
}

.hero .hero-content .stats .vertical-card {
  -ms-flex-item-align: center;
      align-self: center;
  background: #FFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px -5px #a09999;
          box-shadow: 0px 0px 30px -5px #a09999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 135px;
}

.hero .hero-content .stats .vertical-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .stats .vertical-card span h2 {
  color: #F2B115;
  margin: 20px 0;
}

.hero .hero-content .stats .vertical-card span i {
  margin-top: -7px;
  color: #40C3B1;
}

.hero .hero-content .stats .vertical-card p {
  color: #a09999;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

.hero .hero-content .stats .vertical-card img {
  width: 60%;
  margin: 10px auto 30px auto;
}

.hero .hero-content .stats .horizontal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px -5px #a09999;
          box-shadow: 0px 0px 30px -5px #a09999;
  padding: 0 10px;
  width: 320px;
  height: 120px;
}

.hero .hero-content .stats .horizontal-card .monthly-growth-img {
  padding: 10px;
}

.hero .hero-content .stats .horizontal-card .monthly-growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div h2 {
  color: #40C3B1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div img {
  width: 20%;
  margin: 10px 0 15px 0;
}

.hero .hero-content .stats .horizontal-card .monthly-growth p {
  width: 90%;
  margin: auto;
  color: #a09999;
  line-height: 1.5;
}

.services {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services .services-bg {
  width: 90%;
  height: 300px;
  margin-top: 100px;
  background-color: #F1F1F1;
  border-radius: 20px;
}

.services .services-content {
  margin-top: -360px;
}

.services .services-content .services-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-content .services-heading h1 {
  color: #1A2E4D;
  width: 250px;
}

.services .services-content .services-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #a09999;
  width: 65%;
  margin: auto;
}

.services .services-content .services-description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-content .services-description li span:before {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid #FA5158;
  width: 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.services .services-content .services-description li p {
  line-height: 1.5;
}

.services .services-content .services-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 70px auto;
}

.services .services-content .services-images img {
  width: 100%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */