* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #EEE;
  background-color: #F8F8F8;
}

.btn-1, .subscription .subscription-content .subscribe .subscription-form form button {
  background-color: #FA5158;
  color: #FFF;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

.btn-2, .footer .footer-content button {
  background-color: #FFF;
  color: #FA5158;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
}

.heading1, .projects .projects-content h1, .features .feature1 .feature h1, .features .feature2 .feature2-content .feature h1, .features .feature3 .feature3-content h1, .subscription .subscription-content h1, .subscription .subscription-content .subscribe .contact h2 {
  color: #1A2E4D;
  width: 305px;
  line-height: 1.2;
  text-align: center;
}

.heading1 span, .projects .projects-content h1 span, .features .feature1 .feature h1 span, .features .feature2 .feature2-content .feature h1 span, .features .feature3 .feature3-content h1 span, .subscription .subscription-content h1 span, .subscription .subscription-content .subscribe .contact h2 span {
  color: #FA5158;
}

.list-style1, .services .services-content .services-description li, .subscription .subscription-content .subscribe .contact .contact-description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-style1 span:before, .services .services-content .services-description li span:before, .subscription .subscription-content .subscribe .contact .contact-description li span:before {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid #FA5158;
  width: 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.list-style1 p, .services .services-content .services-description li p, .subscription .subscription-content .subscribe .contact .contact-description li p {
  line-height: 1.5;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 40px;
  margin-top: 10px;
}

#header .navigation .logo:hover {
  cursor: pointer;
}

#header .navigation .nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 50px;
}

#header .navigation .nav .nav-items .nav-item {
  margin-right: 30px;
}

#header .navigation .nav .nav-items .nav-item a {
  color: #EEE;
}

#header .navigation .nav .nav-items .nav-item a:hover {
  cursor: pointer;
}

.hero {
  background-image: url("../../assets/images/header/header-bg.png");
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.hero .hero-content {
  width: 50%;
  height: 100%;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
}

.hero .hero-content .hero-title {
  font-size: 1.3rem;
  width: 80%;
  margin-left: 10%;
}

.hero .hero-content .hero-description {
  font-size: 14px;
  line-height: 2;
}

.hero .hero-content .search-div {
  height: 120px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content .search-div input[type="text"] {
  padding: 25px;
  font-size: 17px;
  float: left;
  width: 85%;
  border-radius: 50px 0 0 50px;
  -webkit-box-shadow: -3px -1px 10px -2px #a09999;
          box-shadow: -3px -1px 10px -2px #a09999;
}

.hero .hero-content .search-div input[type="text"]::-webkit-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]:-ms-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]::-ms-input-placeholder {
  color: #a09999;
}

.hero .hero-content .search-div input[type="text"]::placeholder {
  color: #a09999;
}

.hero .hero-content .search-div button {
  float: left;
  padding: 25px 0;
  width: 15%;
  color: #a09999;
  font-size: 17px;
  cursor: pointer;
  background: #FFF;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: 3px -1px 10px -2px #a09999;
          box-shadow: 3px -1px 10px -2px #a09999;
}

.hero .hero-content .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 280px;
}

.hero .hero-content .stats .vertical-card {
  -ms-flex-item-align: center;
      align-self: center;
  background: #FFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px -5px #a09999;
          box-shadow: 0px 0px 30px -5px #a09999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 135px;
}

.hero .hero-content .stats .vertical-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .stats .vertical-card span h2 {
  color: #F2B115;
  margin: 20px 0;
}

.hero .hero-content .stats .vertical-card span i {
  margin-top: -7px;
  color: #40C3B1;
}

.hero .hero-content .stats .vertical-card p {
  color: #a09999;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

.hero .hero-content .stats .vertical-card img {
  width: 60%;
  margin: 10px auto 30px auto;
}

.hero .hero-content .stats .horizontal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px -5px #a09999;
          box-shadow: 0px 0px 30px -5px #a09999;
  padding: 0 10px;
  width: 320px;
  height: 120px;
}

.hero .hero-content .stats .horizontal-card .monthly-growth-img {
  padding: 10px;
}

.hero .hero-content .stats .horizontal-card .monthly-growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div h2 {
  color: #40C3B1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero-content .stats .horizontal-card .monthly-growth .stats-div img {
  width: 20%;
  margin: 10px 0 15px 0;
}

.hero .hero-content .stats .horizontal-card .monthly-growth p {
  width: 90%;
  margin: auto;
  color: #a09999;
  line-height: 1.5;
}

.services {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services .services-bg {
  width: 90%;
  height: 300px;
  margin-top: 100px;
  background-color: #F1F1F1;
  border-radius: 20px;
}

.services .services-content {
  margin-top: -360px;
}

.services .services-content .services-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-content .services-heading h1 {
  color: #1A2E4D;
  width: 250px;
}

.services .services-content .services-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #a09999;
  width: 65%;
  margin: auto;
}

.services .services-content .services-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 70px auto;
}

.services .services-content .services-images img {
  width: 100%;
  margin: auto;
}

.projects .projects-content h1 {
  margin: 20px auto 80px auto;
}

.features .feature1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.features .feature1 .feature {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.features .feature1 .feature h1 {
  margin: 30px 0;
  text-align: left;
  font-size: 3rem;
  width: 320px;
}

.features .feature1 .feature p {
  color: #a09999;
  width: 100%;
  line-height: 1.8;
}

.features .feature1 .feature-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: cener;
      -ms-flex-align: cener;
          align-items: cener;
  margin-top: 60px;
}

.features .feature1 .feature-images img {
  -webkit-box-shadow: 10px 10px 40px 2px #a09999;
          box-shadow: 10px 10px 40px 2px #a09999;
}

.features .feature1 .feature-images .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.features .feature1 .feature-images .left .first {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.features .feature1 .feature-images .left .first img {
  width: 80%;
}

.features .feature1 .feature-images .left .third {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
}

.features .feature1 .feature-images .left .third img {
  width: 85%;
  margin-left: -30px;
}

.features .feature1 .feature-images .right .second {
  margin: 50% 0 5px 0;
}

.features .feature1 .feature-images .right .second img {
  width: 50%;
  margin-left: -50px;
}

.features .feature1 .feature-images .right .fourth img {
  width: 35%;
  margin-left: -50px;
}

.features .feature2 .feature2-bg {
  width: 90%;
  height: 300px;
  margin: 120px 0 60px auto;
  border-radius: 50px 0 0 50px;
  -webkit-box-shadow: 10px 10px 30px 0px #a09999;
          box-shadow: 10px 10px 30px 0px #a09999;
  background: #FA5158;
}

.features .feature2 .feature2-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: flex-end;
  margin-top: -305px;
}

.features .feature2 .feature2-content .feature-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 295px;
}

.features .feature2 .feature2-content .feature-images .img1, .features .feature2 .feature2-content .feature-images .img4 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-color: #40C3B1;
  width: 100px;
  height: 100px;
}

.features .feature2 .feature2-content .feature-images .img2, .features .feature2 .feature2-content .feature-images .img3 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background: #F2B115;
  width: 100px;
  height: 100px;
}

.features .feature2 .feature2-content .feature-images .img3 {
  background: #1F3FAE;
}

.features .feature2 .feature2-content .feature-images .img4 {
  background: #8440F5;
}

.features .feature2 .feature2-content .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
  width: 60%;
}

.features .feature2 .feature2-content .feature h1 {
  color: #FFF;
  text-align: left;
}

.features .feature2 .feature2-content .feature p {
  width: 100%;
  line-height: 1.8;
}

.features .feature3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 180px 0 60px auto;
  width: 90%;
}

.features .feature3 .feature3-content {
  width: 30%;
}

.features .feature3 .feature3-content h1 {
  font-size: 2.5rem;
  text-align: left;
  width: 500px;
  margin-top: 70px;
}

.features .feature3 .feature3-content p {
  width: 90%;
  color: #a09999;
  line-height: 1.8;
}

.features .feature3 .feature3-image {
  width: 400px;
  background: #EEE;
  padding: 30px 0;
  margin-left: -80px;
  z-index: -1;
}

.features .feature3 .feature3-image img {
  width: 70%;
  margin-left: 15%;
}

.subscription {
  margin-bottom: 10px;
}

.subscription .subscription-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription .subscription-content h1 {
  text-align: left;
  margin: 120px auto 60px auto;
  font-size: 2.3rem;
  width: 350px;
}

.subscription .subscription-content .subscribe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 70%;
  margin: auto;
}

.subscription .subscription-content .subscribe .contact h2 {
  margin-bottom: 50px;
}

.subscription .subscription-content .subscribe .contact .contact-description {
  width: 90%;
  margin: auto;
}

.subscription .subscription-content .subscribe .contact .contact-description li {
  margin-bottom: 40px;
}

.subscription .subscription-content .subscribe .contact .contact-description li p {
  color: #a09999;
}

.subscription .subscription-content .subscribe .contact .contact-addresses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.subscription .subscription-content .subscribe .contact .contact-addresses p {
  line-height: 1.5;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  color: #a09999;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .phone h3 {
  margin: 10px auto;
  color: #F2B115;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  color: #a09999;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .email h3 {
  margin: 10px auto;
  color: #40C3B1;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  color: #a09999;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .location h3 {
  margin: 10px auto;
  color: #FA5158;
}

.subscription .subscription-content .subscribe .contact .contact-addresses .location p {
  width: 80%;
  text-align: center;
}

.subscription .subscription-content .subscribe .subscription-form {
  width: 100%;
  height: 100%;
}

.subscription .subscription-content .subscribe .subscription-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

.subscription .subscription-content .subscribe .subscription-form form input {
  background-color: #FFF;
  margin-bottom: 15px;
  padding: 20px 20px;
  border-radius: 20px;
  width: 80%;
}

.subscription .subscription-content .subscribe .subscription-form form input::-webkit-input-placeholder {
  color: #a09999;
}

.subscription .subscription-content .subscribe .subscription-form form input:-ms-input-placeholder {
  color: #a09999;
}

.subscription .subscription-content .subscribe .subscription-form form input::-ms-input-placeholder {
  color: #a09999;
}

.subscription .subscription-content .subscribe .subscription-form form input::placeholder {
  color: #a09999;
}

.subscription .subscription-content .subscribe .subscription-form form textarea {
  width: 80%;
  padding: 20px 20px;
  height: 130px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.subscription .subscription-content .subscribe .subscription-form form button {
  width: 80%;
}

.footer svg path {
  padding: 30px;
}

.footer .footer-content {
  margin-top: -600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content h1 {
  font-size: 3rem;
}

.footer .footer-content .long-description {
  width: 55%;
  text-align: center;
  line-height: 1.5;
  margin-top: 30px;
}

.footer .footer-content button {
  margin-top: 30px;
}

.footer .footer-content .other-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: flex-start;
  margin-top: 60px;
}

.footer .footer-content .other-links .menu-links, .footer .footer-content .other-links .social-links, .footer .footer-content .other-links .addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.footer .footer-content .other-links .menu-links a, .footer .footer-content .other-links .social-links a, .footer .footer-content .other-links .addresses a {
  color: #FFF;
  margin-bottom: 10px;
}

.footer .footer-content .other-links .menu-links p, .footer .footer-content .other-links .social-links p, .footer .footer-content .other-links .addresses p {
  margin-bottom: 10px;
  width: 280px;
}

.footer .footer-content small {
  margin: 60px auto;
}
/*# sourceMappingURL=style.css.map */