.features {
    .feature1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;

        @include tablet {
            grid-template-columns: 1fr;
        }
        
        .feature {
            justify-self: flex-end;
            align-self: center;

            display: flex;
            flex-direction: column;
            width: 70%;
            height: fit-content;
            // margin: auto;
            @include tablet {
                width: 90%;
                
            }

            h1 {
                @extend .heading1;
                margin: 3rem 0;
                text-align: left;
                font-size: 3rem;
                width: 80%;

                @include laptop {
                    font-size: 2.3rem;
                }

                @include tablet {
                    font-size: 3.3rem;
                }

            }
            
            p {
                color: $light-gray2;
                width: 100%;
                line-height: 1.8;
            }
        }

        .feature-images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: cener;
            margin-top: 6rem;

            @include tablet {
                width: 80%;
                margin-left: 10%;
            }

            img {
                box-shadow: 1rem 1rem 4rem .2rem $light-gray2;

            }

            .left {

                display: flex;
                flex-direction: column;
                // justify-content: flex-end;

                .first {
                    align-self: flex-end;
                    width: 80%;
                    img{
                        // width: 80%;
                        width: 100%;

                        @include desktop {
                            // width: 80%;
                            // margin-left: -2.5rem;
                        }

                        @include tablet {
                            // width: 65%;
                            // margin-left: 6rem;
                        }
                    }
                }

                .third {
                    align-self: flex-end;
                    margin-top: .5rem;
                    width: 60%;

                    img{
                        width: 100%;
                    }
                }
                
            }

            .right {

                margin-left: 1rem;
                
                .second {
                    width: 60%;
                    margin: 50% 0 .5rem 0;
                    img{
                        width: 100%;
                    }
                }

                .fourth {
                    width: 40%;

                    img{
                        width: 100%;
                    }
                }

            }
        }
    }

    .feature2 {

        .feature2-bg {
            width: 90%;
            height: fit-content;
            margin: 12rem 0 6rem auto;
            border-radius: 5rem 0 0 5rem;
            box-shadow: 1rem 1rem 3rem 0 $light-gray2;
            background: $primary;
            padding: 20px 0;
        }


        .feature2-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: flex-end;

            @include tablet {
                grid-template-columns: auto;
                place-items: center;
            }

            .feature-images {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 29.5rem;
                
                .img1 {
                    clip-path: circle(50% at 50% 50%);
                    background-color: $paste;
                    width: 10rem;
                    height: 10rem;
                }

                .img2 {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    background: $brown;
                    width: 10rem;
                    height: 10rem;
                }

                .img3 {
                    @extend .img2;
                    background: $blue;
                }

                .img4 {
                    @extend .img1;
                    background: $purple;
                }
            }

            .feature {
                display: flex;
                flex-direction: column;
                place-items: flex-start;
                

                @include tablet {
                    place-items: center;
                    width: 100%;
                }

                h1 {
                    @extend .heading1;
                    color: $white;
                    text-align: left;
                    @include tablet {
                        width: 80%;
                        font-size: 2.5rem;
                        text-align: center;
                    }
                }

                p {
                    line-height: 1.8;
                }
            }
        }
    }

    .feature3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 18rem 0 6rem auto;
        width: 90%;

        @include tablet {
            flex-direction: column;
        }
        
        .feature3-content {
            width: 30%;

            @include laptop {
                width: 40%;
            }

            @include tablet {
                width: 90%;
            }
            
            h1 {
                @extend .heading1;
                font-size: 3.3rem;
                text-align: left;
                width: 100%;
                margin-top: 7rem;
                
                @include desktop {
                    // font-size: 2.3rem;
                    margin-top: 10rem;
                }
            }

            p {
                width: 90%;
                color: $light-gray2;
                line-height: 1.8;

                @include laptop {
                    width: 100%;
                }
            }
        }

        .feature3-image {
            width: 30%;
            height: fit-content;
            background: $light-gray;
            padding: 3rem 0;
            margin-left: -14rem;

            @include tablet {
                width: 60%;
                margin-left: 0%;
            }

            z-index: -1;
            img {
                width: 100%;
                // margin-left: 15%;
            }

            
        }
    }
}