.footer {

    svg {
        
        height: 1000px;

        @include tablet {
            height: 160rem;
        }

        path {
        }
    }

    .footer-content {
        margin-top: -60rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            margin-top: -98rem;
        }

        h1{
            font-size: 3rem;
        }

        .long-description {
            width: 55%;
            text-align: center;
            line-height: 1.5;
            margin-top: 3rem;
        }

        button {
            @extend .btn-2;
            margin-top: 3rem;
        }

        .other-links{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            place-items: flex-start;
            margin-top: 6rem;
            width: 90%;
            margin-left: 5%;

            @include tablet {
                grid-template-columns: 1fr 1fr;
            }

            @include mobile {
                grid-template-columns: auto;
                place-items: center;
            }


            .menu-links, .social-links, .addresses {
                display: flex;
                flex-direction: column;

                text-align: left;
                margin-bottom: 1rem;

                @include mobile {
                    place-items: center;
                }

                a {
                    color: $white;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 1rem;
                    width: 100%;

                    @include mobile {
                        text-align: center;
                    }
                }
            }
        }

        small {
            margin: 6rem auto;
        }
    }
}