.projects {

    .projects-content {

        h1 {

            color: $navy-blue;
            width: 305px;
            line-height: 1.2;
            text-align: center;
            margin: 20px auto 80px auto;

            span {
                color: $primary;
            }
        }
    }
}