.services {
    height: fit-content;

    .services-bg {
        width: 90%;
        height: 30rem;
        margin-top: 10rem;
        background-color: #F1F1F1;
        border-radius: 2rem;
    }

    .services-content {

        margin-top: -36rem;

        .services-heading {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            h1 {
                color: $navy-blue;
                width: 25rem;
            }
        }

        .services-description {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
            justify-content: space-around;
            color: $light-gray2;
            width: 65%;
            margin: auto;

            @include mobile {
                grid-template-columns: auto;
            }

            li{
                @extend .list-style1;
            }

        }

        .services-images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 70%;
            margin: 7rem auto;

            @include laptop {
                grid-template-columns: 1fr 1fr;
            }

            @include mobile {
                grid-template-columns: 1fr;
            }

            img {
                width: 100%;
                margin: auto;
            }
        }
    }
}