*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #EEE;
<<<<<<< HEAD
    background-color: #F8F8F8;
=======
>>>>>>> 673915347a0899fc43bc66ab1c785b86eb7c2659
}