//colors
$light-gray: #EEE;
$light-gray2: #a09999;
$white: #FFF;
$brown: #F2B115;
$paste: #40C3B1;
$primary: #FA5158;
$navy-blue: #1A2E4D;
$purple: #8440F5;
$blue: #1F3FAE;

//responsive variables
$widescreen: 1440px;
$desktop: 1152px;
$laptop: 992px;
$tablet: 768px;
$mobile: 500px;