//colors
$light-gray: #EEE;
<<<<<<< HEAD
$light-gray2: #a09999;
$white: #FFF;
$brown: #F2B115;
$paste: #40C3B1
=======
$light-gray2: #E0E0E0;
$white: #FFF;
>>>>>>> 673915347a0899fc43bc66ab1c785b86eb7c2659
